
.mobile .compact-mobile-nav {
	margin:0 0 20px;
}
.mobile .compact-mobile-nav ul {
	display:none;
}
.mobile .compact-mobile-nav .compact-mobile-nav-select-wrap {
	padding:0 3px 0 7px;
	background:url(next.png) left center no-repeat;
	display:inline-block;
	width:100%;
}
.compact-mobile-nav-select-wrap.compact-mobile-primaryDropdown {
	padding-left:0 !important;
	background-color:transparent !important;
}
.compact-mobile-nav-select-wrap:last-child {
	padding-right:0 !important;
}
.compact-mobile-display {
	display:none;
}
.mobile .compact-mobile-display {
	display:block;
}
.compact-mobile-pleaseWait {
	font-size:20px;
	text-align:center;
	display:none;
}
.compact-mobile-display h4 {
	padding:0 3px 5px;
}
.compact-mobile-nav li span {
	display:block;
	cursor:pointer;
	cursor:hand;
}
.compact-mobile-nav ul ul {
	display:none;
}

.compact-mobile-attention {
	border:1px solid #c55;
	color:#c55;
}

